In [1]:
import yfinance as yf

In [4]:
import yfinance as yf

msft = yf.Ticker("MSFT")

msft.info

# show share count
msft.history(start="2013-01-01", end="2023-12-31")

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2013-01-02 00:00:00-05:00,22.190972,22.581858,22.109537,22.492281,52899300,0.0,0.0
2013-01-03 00:00:00-05:00,22.500423,22.516710,22.117680,22.190971,48294400,0.0,0.0
2013-01-04 00:00:00-05:00,22.207253,22.264257,21.767504,21.775648,52521100,0.0,0.0
2013-01-07 00:00:00-05:00,21.800084,21.889661,21.694217,21.734936,37110400,0.0,0.0
2013-01-08 00:00:00-05:00,21.783798,21.816373,21.547636,21.620928,44703100,0.0,0.0
...,...,...,...,...,...,...,...
2023-12-22 00:00:00-05:00,372.318678,373.813213,371.352210,373.215393,17091100,0.0,0.0
2023-12-26 00:00:00-05:00,373.633893,375.566828,372.139358,373.295135,12673100,0.0,0.0
2023-12-27 00:00:00-05:00,372.328655,373.693659,371.451856,372.707275,14905400,0.0,0.0
2023-12-28 00:00:00-05:00,374.002510,375.088536,372.796927,373.912842,14327000,0.0,0.0
2023-12-29 00:00:00-05:00,374.630212,375.785989,372.119403,374.670074,18723000,0.0,0.0